@import '../base/variables';
@import '../helpers/atomic-classes';

.el-aside {
  ul[role='group'] {
    li[role='listitem'] {
      font-size: 14px;
    }
  }
}

.vph-full {
  @media screen and (max-width: $break-sm) {
    overflow-y: scroll;
  }
}

.el-aside.adjust-width {
  width: 4rem !important;
  ul a {
    padding: 0 1.4rem 0 1.4rem;
    color: transparent;
  }
  &:hover {
    width: 4.2rem !important;
  }
}

.profile-footer {
  transform: translateX(18rem) translateY(-0.4rem);
  &.is-create-route {
    transform: translateX(32.8rem) translateY(-0.4rem);
  }
}

/*
*  THEME VARIANT'S
*/

.application.light {
  .el-aside {
    ul[role='group'] {
      color: $white-partial;
      background-color: $blue-user-interface;

      li {
        background-color: $blue-user-interface;
        a {
          &:hover:not(.router-link-exact-active),
          &:focus:not(.router-link-exact-active),
          &:focus-within:not(.router-link-exact-active) {
            background-color: lighten($blue-user-interface, 4%);
          }
          .icon {
            color: $white-partial;
          }
        }
        .router-link-exact-active {
          background-color: $dark-blue;
        }
      }
    }
  }
}

.application.dark {
  .el-aside {
    ul[role='group'] {
      color: $white-partial;
      background-color: $light-charcoal;

      li[role='listitem'] {
        font-weight: bold;
        background-color: $light-charcoal;
        a {
          &:hover:not(.router-link-exact-active),
          &:focus:not(.router-link-exact-active),
          &:focus-within:not(.router-link-exact-active) {
            background-color: lighten($dark-charcoal, 4%);
          }
          .icon {
            color: $white-partial;
          }
        }
        .router-link-exact-active {
          background-color: $dark-charcoal;
        }
      }
    }
  }
}
