@import '../base/variables';
@import '../helpers/atomic-classes';

.el-aside {
  ul[role="group"] {
    li[role="listitem"] {
      font-size: 14px;
    }
  }
}

/*
*  THEME VARIANT'S
*/

.application.light {
  .el-aside {
    ul[role="group"] {
      color: $white-partial;
      background-color: $blue-user-interface;

      li {
        a {
          &:hover:not(.router-link-exact-active),
          &:focus:not(.router-link-exact-active),
          &:focus-within:not(.router-link-exact-active) {
            background-color: lighten($blue-user-interface, 4%);
          }
        }
        .router-link-exact-active {
          background-color: $dark-blue;
        }
      }
    }
  }
}

.application.dark {
  .el-aside {
    ul[role="group"] {
      color: $white-partial;
      background-color: $light-charcoal;

      li[role="listitem"] {
        font-weight: bold;
        a {
          &:hover:not(.router-link-exact-active),
          &:focus:not(.router-link-exact-active),
          &:focus-within:not(.router-link-exact-active) {
            background-color: lighten($dark-charcoal, 4%);
          }
        }
        .router-link-exact-active {
          background-color: $dark-charcoal;
        }
      }
    }
  }
}
