@import '../base/variables';
@import '../helpers/atomic-classes';

.main-wrapper {
  border-top: 1px solid #bcbcbc;
}

.inner-wrapper {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  .team-wrapper .boxes-wrapper .box {
    flex-basis: 50%;
    &:first-child {
      flex-basis: 100%;
    }
  }
  @media screen and (max-width: $break-md) {
    width: 80vw;
  }
}

p.content {
  color: $dark-charcoal;
  line-height: 1.2;
  font-weight: 400;
  text-align: justify;
}

.title {
  line-height: 1.2;
  font-weight: auto;
  color: #485160;
  &.md {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.diff {
    color: #bdc4ca;
  }
  &.shadow {
    text-shadow: 1px 0 0 rgb(49, 49, 49);
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}

.application.dark {
  .title {
    color: $white-partial;
    text-align: center;
    margin-bottom: 0;
  }
  .content {
    color: $white-hsl;
  }
}
