@import '../base/variables';

.main-wrapper {
  width: 80vw;
  margin: 0 auto;
  border-top: 1px solid $grey-ligthen-3;
  .title {
    color: $dark-charcoal;
    font-weight: 500;
    font-size: 42px;
  }
  p {
    font-size: 18px;
    small {
      display: block;
      margin-bottom: 1rem;
      margin-top: 2rem;

      font-size: 24px;
    }
  }
}
