@import '../base/variables';

.form-wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  .form {
    background-color: white;
    padding: 2rem;
    margin-top: 6rem;
  }

  .inner-wrapper {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    color: $dark-charcoal;
  }
}
