@import '../base/variables';
@import '../helpers/atomic-classes';

.inner-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  header.description_title {
    @media screen and (max-width: $break-xl) {
      width: 22vw;
      align-self: start;
      transform: translateY(1.2rem);
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
      padding: 0 0.8rem;
      margin-bottom: 0.9rem;
      transform: translateY(0);
    }
  }
  .form {
    background-color: white;
    padding: 2rem;
    margin-top: 6rem;
  }

  .form-wrapper {
    margin: 0 auto;
    width: 24vw;
    display: flex;
    flex-flow: column nowrap;
    color: $dark-charcoal;

    @media screen and (max-width: $break-md) {
      margin: 4rem auto;
    }
    @media screen and (max-width: 1060px) {
      width: 68vw;
      margin: 0;
    }
    @media screen and (max-width: $break-sm) {
      width: auto;
      margin: 0;
    }
  }
  @media screen and (max-width: $break-xs) {
    margin: 0;
    width: 88vw;
    padding: 1rem;
    display: block;
  }
}

.title {
  line-height: 1.2;
  font-weight: auto;
  color: #485160;
  &.md {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.diff {
    color: #bdc4ca;
  }
  &.shadow {
    text-shadow: 1px 0 0 rgb(49, 49, 49);
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}
.text {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #485160;
  @extend .dont-break-out;
  @media screen and (max-width: $break-xs) {
    max-width: 100%;
  }
}

.application.dark {
  .title,
  .text {
    color: $white-partial;
  }
}
