@import '../base/variables';
@import '../helpers/atomic-classes';

li[role="listitem"] {
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

/*
*  THEME VARIANT'S
*/

.application.light {
  .main-wrapper {
    background: $white-profile;
  }
}

