@import '../base/variables';
@import '../helpers/atomic-classes';

li[role="listitem"] {
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

/*
*  THEME VARIANT'S
*/

.application.light {
  .main-wrapper {
    background: $white-profile;
  }
}

.application.dark {
  .main-wrapper {
    color: $white-partial;
    background: $dark-charcoal;

    .el-card {
      color: $white-partial;
      border-color: $light-charcoal;
      background-color: $light-charcoal;
    }

    #changePass {
      color: $white-partial;
    }
  }
}
