@import '../helpers/atomic-classes';

.main-wrapper {
  width: 75vw;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}

.card-wrapper {
  min-height: 60vh;
  header.text-center {
    @media screen and (max-width: $break-sm) {
      text-align: left;
    }
  }
  .services-wrapper {
    display: grid;
    width: 100%;
    gap: 0.6rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    .inner-wrapper {
      border-radius: 4px;
      border: 1px solid rgb(235, 234, 234);
      @media screen and (max-width: $break-sm) {
        width: 72vw;
      }
    }
  }
}

.title {
  line-height: 1.2;
  font-weight: auto;
  color: #485160;
  &.md {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.diff {
    color: #bdc4ca;
  }
  &.shadow {
    text-shadow: 1px 0 0 rgb(49, 49, 49);
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}

p.text {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #485160;
  @media screen and (max-width: $break-xs) {
    max-width: 100%;
  }
}

.application .dark {
  color: $white-full;
  .title {
    color: inherit;
  }
  p {
    @extend .text-white--hsl;
  }
}

.el-divider.dark,
.el-card.dark {
  border-color: $light-charcoal;
  background-color: $dark-charcoal;
}
