@import '../base/variables';
@import '../helpers/atomic-classes';

.no-gray-filter {
  filter: grayscale(0);
}

.main-wrapper {
  border-top: 1px solid $grey-ligthen-3;
  .inner-wrapper {
    width: 60vw;
    margin: 0 auto;
    @media screen and (max-width: $break-sm) {
      width: 80vw;
      .el-card {
        border: 0 none;
      }
    }
  }
}

.title {
  line-height: 1.2;
  font-weight: auto;
  color: #485160;
  &.md {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.diff {
    color: #bdc4ca;
  }
  &.shadow {
    text-shadow: 1px 0 0 rgb(49, 49, 49);
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}

p {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #485160;
  @media screen and (max-width: $break-xs) {
    max-width: 100%;
  }
}

#partnersSection .boxes-wrapper {
  display: grid;
  width: 100%;
  gap: 0.4rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
  .box {
    @extend .transition-all;
    width: 5.2rem;
    height: 5.2rem;
    filter: grayscale(100%);
    color: whitesmoke;
    &:hover {
      @extend .no-gray-filter;
      transform: scale(1.02);
    }
    @media screen and (max-width: $break-sm) {
      filter: grayscale(0);
    }
  }
  @media screen and (max-width: $break-xs) {
    .box {
      width: 3.2rem;
      height: 3.2rem;
    }
    grid-template-columns: repeat(auto-fit, minmax(4.2rem, 1fr));
  }
}

.application.dark {
  color: $white-full;
  .title {
    color: inherit;
    @extend .text-white--hsl;
  }
  p {
    color: inherit;
    @extend .text-white--hsl;
  }
}

.el-divider.dark,
.el-card.dark {
  @extend .text-white--hsl;
  border-color: $light-charcoal;
  background-color: $dark-charcoal;
}
