@import '../base/variables';

.votation-pool {
  padding: 4rem;
  min-height: 80vh;
  margin-bottom: 8rem;
  border-top: 1px solid #f0f0f0;
  .pool-wrapper {
    width: 80vw;
    display: grid;
    gap: 2rem;
    margin: 1rem auto;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    .pool_inner-wrapper {
      width: 80%;
    }
    h2 {
      max-width: 16rem;
    }
    li span {
      display: inline-block;
      max-width: 12rem;
    }
    @media screen and (max-width: $break-md) {
      grid-template-columns: repeat(2, 1fr);
      h2 {
        font-size: 20px;
        font-weight: 500;
      }
      .pool_inner-wrapper {
        width: 80%;
      }
    }
    @media screen and (max-width: $break-xs) {
      margin: 0;
      width: 100vw;
      margin-left: -0.8rem;
      grid-template-columns: 1fr;
      h2 {
        font-size: 17.6px;
        font-weight: 500;
      }
      .pool_inner-wrapper {
        width: 72%;
      }
    }
  }
  @media screen and (max-width: $break-sm) {
    padding: 1rem;
    #refresh-btn {
      margin-top: 1rem;
    }
  }
}
