@import '../base/variables';

.toggler-wrapper {
  position: absolute;
  top: 3.6rem;
  left: 2.6rem;
}

.overlay-wrapper {
  position: absolute;
  top: 4.32rem;
  left: 0;
  width: 32rem;
  height: 100vh;
  z-index: 1000000;
  transform: translateY(-4rem) translateX(-2rem);
}

.overlay {
  width: 32rem;
  height: 100vh;
  min-width: 21rem;
  background-color: $white-full;
  z-index: 2000;
  border-top-color: transparent;

  .close-btn {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    border-color: transparent;
  }
  header {
    span {
      color: $grey-ligthen-2;
    }
    h2 {
      color: #466ca7;
    }
  }

  .overlay-inner-wrapper {
    max-height: 60vh;
    height: fit-content;
  }
}

.sm-icon {
  &:hover {
    color: $gray;
  }
}

.box {
  width: 98%;
  min-width: 12rem;
}
