@import '../helpers/atomic-classes';
@import '../base/variables';

a {
  width: 20rem;
}

p {
  font-weight: 400;
  font-size: 14px;
}

span.label {
  font-weight: 700;
}

footer {
  .el-row {
    @media screen and (max-width: $break-xs) {
      text-align: center;
      padding: 0 3rem;
      margin-top: 0;
    }
    .el-col {
      @media screen and (max-width: $break-xs) {
        margin-top: 2rem;
      }
    }
  }
}
/*
* THEMES VARIANT'S
*/

.application.light {
  .el-col span.label,
  p.label {
    color: $dark-blue;
  }

  .status-text {
    color: #ff8282;
    &.active-cable {
      color: #2aa9b7;
    }
  }
}
.application.dark {
  p {
    color: $white-partial;
  }
  .status-text {
    color: #ff4e46;
    &.active-cable {
      color: #57ced8;
    }
  }
  .el-button {
    color: $dark-charcoal;
    background-color: $light-yellow;
    &:hover {
      background-color: darken($light-yellow, 8%);
    }
  }

  a,
  .el-col span.label {
    color: $white-partial;
  }
}
