@import '../base/variables';

.contactBtn {
  box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
  border-radius: 34px 8px 34px 34px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
  padding: 18px;
}
