@import '../helpers/atomic-classes';
@import '../base/variables';

.dragger-wrapper {
  min-height: 4rem;
  border: 1px dashed #ccc;
  transition: all $regular-transition;
  &:hover {
    cursor: pointer;
    border-color: $dark-blue;
  }
  &.is-dragover {
    border-color: $dark-blue;
  }
}

.inner-wrapper {
  color: rgba(0, 0, 1, 0.8);
  transition: all $regular-transition;
  &:hover {
    color: $blue !important;
  }
  .accent-text {
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.loading-bar-wrapper {
  top: 0;
  background-color: rgba(124, 121, 121, 0.184);
}

/*
*   THEME VARIANT'S
*/

.application.dark {
  .dragger-wrapper {
    border: 1px dashed rgb(126, 126, 126);
    &:hover {
      border-color: $blue !important;
      .inner-wrapper:hover {
        color: $blue !important;
      }
    }
    .inner-wrapper {
      color: $white-partial;
    }
  }
}
