@import '../helpers/atomic-classes';
@import '../base/variables';

.mobile-filter-menu {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*
*   THEME VARIANT'S
*/

.mobile-filter-menu.light {
  color: $dark-charcoal;
  background-color: $white-full;
}
.mobile-filter-menu.dark {
  background-color: $dark-charcoal;
  color: $white-hsl;
}

.header.light {
  color: $white-partial;
  background-color: $dark-yellow;
}

.header.dark {
  color: $light-charcoal;
  background-color: $light-yellow;
}

.filters-wrapper.dark {
  color: $white-hsl;
  background-color: $dark-charcoal;
  .el-divider {
    background-color: $light-charcoal;
  }
}

.filter-btn-wrapper.dark {
  .el-button {
    color: $dark-charcoal;
    border: 1px solid $light-yellow;
    &:hover,
    &:focus,
    &:focus-within {
      background: darken($light-yellow, 10%);
    }
  }
}
