@import '../helpers/atomic-classes';
@import '../base/variables';
/*
*   THEME VARIANT'S
*/

.header.light {
  color: $white-partial;
  background-color: $dark-yellow;
}

.filter-btn-wrapper.dark {
  .el-button {
    color: $dark-charcoal;
    border: 1px solid $light-yellow;
    &:hover,
    &:focus,
    &:focus-within {
      background: darken($light-yellow, 10%);
    }
  }
}
