@import '../base/variables';

.footer {
  background-color: $dark-blue;
  color: $white-partial;
  .inner-wrapper {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
  }

  .logo-title {
    margin-top: -0.8rem;
  }

  .logo-img {
    height: 42px;
    width: 120px;
  }

  .logo-wrapper {
    @media screen and (max-width: $break-sm) {
      margin-bottom: 1rem;
    }
  }

  .links-wrapper,
  .logo-wrapper {
    max-width: 30%;
    flex: 1 1 auto;
    margin-right: 2rem;
    @media screen and (max-width: $break-sm) {
      width: 100%;
      max-width: unset;
    }
  }

  .links-wrapper {
    .title-link {
      margin-top: 5px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      color: #6ebfff;
    }
    .list-item {
      font-size: 14px;
    }
  }
}

.form-wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  .form {
    background-color: white;
    padding: 2rem;
    margin-top: 6rem;
  }

  .inner-wrapper {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    color: $dark-charcoal;
  }
}
