@import '../helpers/_atomic-classes';
@import '../base/_variables';

footer {
  bottom: 0;
  width: 98%;
  color: grey;
  font-size: 12px;
  align-items: flex-end;
  background: transparent;
  div.flex {
    margin-left: 1rem;
    .link {
      margin-bottom: .5rem;
    }
  }
}
