@import '../helpers/atomic-classes';
@import '../base/variables';

.circle {
  transition: all $regular-transition;
  &:active {
    background-color: $light-hover;
  }
}

.full-screen {
  color: $dark-charcoal;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  li {
    .partner {
      color: $white-partial;
      background-color: orange;
    }
    @media screen and (max-width: $break-sm) {
      max-width: 20rem;
    }
    @media screen and (max-width: $break-md) {
      max-width: 32rem;
    }
  }
}

.application.light {
  .sm-icon {
    color: $dark-charcoal;
  }

  .full-screen {
    background-color: $white-full;
  }
}

.application.dark {
  .sm-icon {
    color: $white-partial;
  }

  .full-screen {
    background-color: $dark-charcoal;
  }
}
