@import '../base/variables';

.gooey-wrapper {
  right: 0;
  bottom: 3.4rem;
  height: fit-content;
  #gooeyList {
    height: fit-content;
    width: fit-content;
  }
}

#menuOpener,
.icon {
  transition: all $regular-transition;
}

#menuOpener,
.icon {
  transition: all $regular-transition;
}

#menuOpener {
  right: 1.3rem;
  bottom: 9rem;
  color: inherit;

  @media screen and (max-width: 320px) and (max-height: 580px) {
    bottom: 6.4rem;
  }
}

ul[role='group'] {
  transition: all $regular-transition;
  height: 2.5rem;
  right: 3rem;
  top: 0;
  li {
    margin-right: 1em;
  }

  &.active {
    width: fit-content;
    // width: 12.2rem;
  }
}
