@import '../helpers/_atomic-classes';
@import '../base/_variables';

ul[role='list'] {
  overflow: scroll;
  max-height: 28rem;

  @media screen and (max-width: $break-md) {
    width: 100%;
  }
  // @media screen and (max-width: $break-xs) {
  //   width: 17.4rem;
  // }
}

#html-wrapper.light {
  ul[role='list'] {
    li[role='listitem'] {
      border-bottom: 1px solid $grey-ligthen;
    }
  }
}

#html-wrapper.dark {
  div.w120.no-border.dark {
    background-color: $dark-charcoal;
  }
  ul[role='list'] {
    li[role='listitem'] {
      color: $white-partial;
      background-color: $dark-charcoal;
      border-bottom: 1px solid $light-charcoal;
    }
  }
  .el-button {
    color: $white-partial;
    background-color: $dark-charcoal;
    &:focus,
    &:focus-within,
    &:hover {
      background-color: lighten(rgba(0, 0, 0, 0.2), 80%);
    }
  }
}
