@import '../helpers/_atomic-classes';
@import '../base/_variables';

ul[role="list"] {
  overflow: scroll;
  max-height: 28rem;
  li[role="listitem"] {
    border-bottom: 1px solid $grey-ligthen;
  }

  @media screen and (max-width: $break-md) {
    width: 100%;
  }
  @media screen and (max-width: $break-sm) {
    width: 17.4rem;
  }
}
