@import '../base/variables';
@import '../helpers/atomic-classes';

#map {
  width: 100%;
  height: 100vh;
}

#menuOpener,
.icon {
  transition: all $regular-transition;
}

#menuOpener {
  right: 1.3rem;
  bottom: 9rem;
  color: inherit;

  &:focus,
  &:focus-within,
  &:hover {
    color: inherit;
    background-color: darken($white-full, 20%);
    // .icon {
    //   transform: rotateZ(60deg);
    // }
  }
}

ul[role='group'] {
  transition: all $regular-transition;
  height: 2.5rem;
  right: 3rem;
  top: 0;

  &.active {
    width: 7.2rem;
  }

  #toggleTheme {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
  }
}

.coords-box {
  left: 0.5rem;
  bottom: 4.5rem;
  font-size: 12px;
  border: 3px solid #474646;
  background: rgba(255, 255, 255, 0.75);
}

/*
*  THEME VARIANT'S
*/

.application.dark {
  #menuOpener {
    color: $white-partial;
    background: $dark-charcoal;
    border-color: $dark-charcoal;
    &:hover {
      background: $light-charcoal;
      border-color: $light-charcoal;
    }
  }
}
