@import '../base/variables';
@import '../helpers/atomic-classes';

#map {
  width: 100%;
  height: 100vh;
}

#menuOpener,
.icon {
  transition: all $regular-transition;
}

#menuOpener {
  right: 1.3rem;
  bottom: 9rem;
  color: inherit;

  &:focus,
  &:focus-within,
  &:hover {
    color: inherit;
    background-color: darken($white-full, 20%);
  }

  @media screen and (max-width: 320px) and (max-height: 580px) {
    bottom: 6.4rem;
  }
}

ul[role='group'] {
  transition: all $regular-transition;
  height: 2.5rem;
  right: 3rem;
  top: 0;

  &.active {
    width: 12.2rem;
  }

  #toggleTheme {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
  }
}

/*
*  THEME VARIANT'S
*/

.application.dark {
  #menuOpener {
    color: $white-partial;
    background: $dark-charcoal;
    border-color: $dark-charcoal;
    &:hover {
      background: $light-charcoal;
      border-color: $light-charcoal;
    }
  }
}
