@import '../helpers/atomic-classes';
@import '../base/variables';

.logo-img {
  height: 34px;
  width: 120px;
}

header {
  border-bottom: 1px solid $light-hover;
  .icon {
    &.light {
      color: $dark-charcoal;
      &:hover {
        background-color: $light-hover;
      }
    }
    &.dark {
      color: $white-partial;
      &:hover {
        background-color: $dark-charcoal;
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 0;
  padding: 1rem;
  margin-top: 14rem;
}

.links-wrapper {
  margin-bottom: 1rem;
  a {
    width: 90.4%;
    outline: 0;
    color: #333;
    border-bottom: 1px solid #ebeef5;
  }
}

#html-wrapper.dark {
  header {
    .icon {
      color: $white-full;
    }
  }
}

.links-wrapper.dark {
  a {
    color: $white-partial;
    border-bottom: 1px solid $light-charcoal;
  }
}

.el-collapse.dark,
header.dark {
  background-color: $dark-charcoal;
}

.el-collapse.dark {
  border-top-color: $light-charcoal;
  border-bottom-color: $dark-charcoal;
}
