@import '../helpers/atomic-classes';
@import '../base/variables';

@import '../helpers/atomic-classes';
@import '../helpers/animations.scss';
@import '../base/variables';

.drawer-wrapper {
  background: $white-full;
  position: absolute;
  width: 52%;
  max-width: 42rem;
  height: 100vh;
  z-index: 2000 !important;
  left: 0;
  top: 48px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  border-color: transparent;
  transition: all $regular-transition;

  @media screen and (max-width: $break-sm) {
    width: 48%;
  }

  @media screen and (max-width: $break-xs) {
    top: 0;
    bottom: unset;
    width: 100%;
    &.active {
      height: 100%;
    }
  }

  .el-card {
    width: 100%;
    height: 100%;
    border: none;
    min-width: auto;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: $white-full;

    h1.title {
      max-width: 18rem;
    }
    .icon.absolute {
      top: 0.5rem;
      right: 1rem;
      &:hover {
        background-color: $light-hover;
      }
    }
  }
}

.logo-img {
  height: 34px;
  width: 120px;
}

header {
  border-bottom: 1px solid $light-hover;
  .icon {
    &.light {
      color: $dark-charcoal;
      &:hover {
        background-color: $light-hover;
      }
    }
    &.dark {
      color: $white-partial;
      &:hover {
        background-color: $dark-charcoal;
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 0;
  padding: 1rem;
  margin-top: 14rem;
}

.links-wrapper {
  margin-bottom: 1rem;
  a {
    width: 90.4%;
    outline: 0;
    color: #333;
    border-bottom: 1px solid #ebeef5;
  }
}

#html-wrapper.dark {
  header {
    .icon {
      color: $white-full;
    }
  }
}

.links-wrapper.dark {
  a {
    color: $white-partial;
    border-bottom: 1px solid $light-charcoal;
  }
}

.el-collapse.dark,
header.dark {
  background-color: $dark-charcoal;
}

.el-collapse.dark {
  border-top-color: $light-charcoal;
  border-bottom-color: $dark-charcoal;
}

.application.light {
  .header {
    color: $white-full;
    background-color: $blue-user-interface;
  }
}

.application.dark {
  .el-card {
    background-color: $light-charcoal;
  }
  .header {
    color: $white-partial;
    background-color: $gray;
  }
}
