@import '../base/variables';
@import '../helpers/atomic-classes';

$header-color: rgb(37, 95, 185);

.drawer-wrapper {
  background: $white-full;
  position: absolute;
  width: 52%;
  max-width: 42rem;
  height: 102vh;
  z-index: 2002 !important;
  left: 0;
  top: 48px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  border-color: transparent;
  @extend .transition-all;

  @media screen and (max-width: $break-sm) {
    width: 48%;
  }

  @media screen and (max-width: $break-xs) {
    top: 0;
    bottom: unset;
    width: 100%;
    &.active {
      height: 100%;
    }
  }

  .el-card {
    width: 100%;
    height: 100%;
    border: none;
    min-width: auto;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: $white-full;

    .icon.absolute {
      top: 0.5rem;
      right: 1rem;
      &:hover {
        background-color: $light-hover;
      }
    }
  }
}

.logo-img {
  height: 34px;
  width: 120px;
}

header {
  border-bottom: 1px solid $light-hover;
  .icon {
    &.light {
      color: $dark-charcoal;
      &:hover {
        background-color: $light-hover;
      }
    }
    &.dark {
      color: $white-partial;
      &:hover {
        background-color: $dark-charcoal;
      }
    }
  }
}

.links-wrapper {
  display: flex;
  flex-flow: column nowrap;
  a,
  span,
  .el-button {
    width: 100%;
    color: $header-color;
    font-weight: 400;
    height: 2rem;
    margin-bottom: 0.4rem;
  }
}

.links-wrapper.dark {
  a,
  span,
  .el-button {
    color: $white-partial;
    @extend .underline;
  }
}

header.dark {
  background-color: $dark-charcoal;
}

.application.light {
  .header {
    color: $white-full;
    background-color: $blue-user-interface;
  }
}

.application.dark {
  .links-wrapper {
    span,
    a {
      color: $white-partial;
      text-decoration: underline;
    }
  }
  .el-card {
    background-color: $dark-charcoal;
    .text-center {
      color: $white-partial;
    }
    .icon {
      color: $white-partial;
    }
  }
}
