@import '../base/variables';

.el-drawer {
  height: 32%;
  width: 100%;
  bottom: 0;
  top: unset;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2102 !important;
  box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: .2);
}

.drawer-body {
  display: grid;
  gap: .4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .078);
}



// Theme variants


header,
.el-drawer {
  .dark {
    color: $white-partial;
    background-color: $dark-charcoal;
  }
  .light {
    color: $dark-charcoal;
    background-color: $white-full;
  }
}
