@import '../base/variables';

.logo-title {
  margin-top: -0.05rem;
}

.logo-img {
  height: 34px;
  width: 120px;
}

.wrapper-right {
  min-width: 21rem;
}

@media screen and (max-width: $break-md) {
  .header {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}
