@import '../helpers/atomic-classes';
@import '../base/variables';

.header {
  top: 0;
  z-index: 1500;
}

.header-inner-wrapper {
  background: $white-full;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.navbar-wrapper {
  .logo-title {
    margin-top: -0.05rem;
  }
  .logo-img {
    height: 34px;
    width: 120px;
  }
  li {
    height: 95%;
  }
  .list-item {
    @extend .cursor-pointer;
    @extend .m0;
    line-height: 1.6;
    border-bottom: 2px solid transparent;
    @extend .h-fit-full;
    border-radius: 2px;
    flex: 0 0 auto;
    position: relative;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    transition: all 320ms ease;
    font-weight: 400;
    min-width: 60px;
    font-size: 12px;

    .user-icon {
      ::after {
        content: ' ';
        width: 2px;
        height: 2px;
        background: red;
      }
    }
  }
}

/*
*   THEME VARIANT'S
*/

.navbar-wrapper.light {
  .sm-icon,
  .list-item {
    color: $blue-link-colors;
  }
  .list-item:not(.user-icon) {
    &:hover {
      background-color: lighten($blue-link-colors, 50%);
    }
  }
}
