@import '../helpers/atomic-classes';
@import '../base/variables';

$hover-blue: lighten($blue-link-colors, 50%);

.header {
  top: 0;
  z-index: 1500;
  .header-inner-wrapper {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}

.navbar-wrapper {
  .logo-title {
    margin-top: -0.05rem;
  }
  .logo-img {
    height: 34px;
    width: 120px;
  }

  li {
    height: 99%;
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 100%;
      display: block;
      transform: scaleX(0);
      transition: transform $cubic-bezier;
      border-bottom: solid 3px $dark-yellow;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .list-item {
    @extend .m0;
    line-height: 1.6;
    @extend .h-fit-full;
    position: relative;
    @extend .vertical-align;
    border-radius: 2px;
    transition: background-color $regular-transition;
    font-weight: 400;
    min-width: 60px;
    font-size: 12px;
    .icon-wrapper {
      display: inline-flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      transition: background-color $regular-transition;
      &:focus,
      &:focus-within,
      &:hover {
        background-color: $hover-blue;
      }
    }
  }
}

.list-item {
  &:last-child {
    min-width: 40px;
  }
  &.user-icon {
    .icon-wrapper {
      padding: 0.4rem;
    }
  }
  &.sponsors-menu span {
    height: 100%;
    width: 100%;
  }
}

.link-info {
  font-size: 14px;
  color: #424242;
  line-height: 1.6;
  font-weight: normal;
}

/*
*   THEME VARIANT'S
*/

.application.light {
  .header-inner-wrapper {
    background: $white-full;
  }

  .sm-icon,
  .list-item,
  .link {
    color: $blue-link-colors;
  }

  .list-item:not([data-no-hover-bg='true']) {
    &:hover {
      background-color: $hover-blue;
    }
  }

  .user-icon {
    .el-avatar {
      color: white;
      background: $blue-link-colors;
    }
  }

  li:not([data-no-outline='true']) {
    &:focus,
    &:focus-within {
      outline: none 0;
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.header.light {
  color: white;
  background-color: rgb(37, 95, 185);
}

.application.dark {
  .header-inner-wrapper {
    background-color: #212121;
  }
}
