@import '../helpers/atomic-classes';
@import '../base/variables';

ul[role='list'] {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 28rem;
  &.dark {
    color: $white-partial;
    background-color: $dark-charcoal;
  }
}

.partner {
  color: $white-partial;
  background-color: orange;
}

.sm-icon {
  color: rgba(0, 0, 0, 0.54);
}

.el-input {
  min-width: 8rem;
  width: 20rem;
  @media screen and (max-width: $break-md), (max-width: 1280px) {
    width: 12rem;
  }
}
