@import '../helpers/atomic-classes';
@import '../base/variables';

ul[role='list'] {
  overflow: scroll;
  max-height: 28rem;
}

.partner {
  color: $white-partial;
  background-color: orange;
}

.sm-icon {
  color: rgba(0, 0, 0, 0.54);
}

.el-input {
  min-width: 8rem;
  width: 24rem;
  @media screen and (max-width: $break-md) {
    width: 8rem;
  }
}
