@import '../helpers/atomic-classes';
@import '../base/variables';

ul[role="list"] {
  overflow: scroll;
  max-height: 28rem;
  li[role="listitem"] {
    border-bottom: 1px solid $grey-ligthen;
  }
}

.partner {
  color: $white-partial;
  background-color: orange
}

.sm-icon {
  color: rgba(0,0,0,.54);
}
