@import '../helpers/atomic-classes';
@import '../helpers/animations.scss';
@import '../base/variables';

.sidebar-wrapper {
  background: transparent;
  position: absolute;
  width: 25%;
  max-width: 28rem;
  height: 94vh;
  z-index: 5;
  left: 0;
  top: 48px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  border-color: transparent;

  .el-card {
    width: 100%;
    height: 100%;
    border: none;
    min-width: auto;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: $white-full;

    h1.title {
      max-width: 18rem;
    }
    .icon.absolute {
      top: .5rem;
      right: 1rem;
      &:hover {
        background-color: lighten(rgba(0,0,0,0.2), 12%);
      }
    }
  }
}


/*
* Theme variants
*/

.application.light {
  .header {
    color: $white-full;
    background-color: $blue-user-interface;
  }
}

.application.dark {
  .el-card {
    background-color: $light-charcoal;
  }
  .header {
    color: $white-partial;
    background-color: $gray;
  }
}
