@import '../base/variables';

.mainw {
  top: 4.4rem;
  right: 2.4rem;
  z-index: 100;
}

.list-wrapper {
  right: 0.2rem;
  overflow-y: auto;
  max-height: 20rem;
  background-color: $white-partial;

  li.inline-block {
    background-color: $white-partial;
  }
  .icon {
    color: #757575;
  }
}

.status-text {
  line-height: 17px;
}

.on {
  color: #2aa9b7;
}

.off {
  color: #ff4e46;
}

.list-wrapper.dark {
  li[role='listitem'] {
    color: $white-hsl;
    background-color: $light-charcoal;
    &:hover {
      background-color: darken($dark-charcoal, 2%);
    }
  }
  color: $white-hsl;
  background-color: $dark-charcoal;
  .el-button {
    color: $dark-charcoal;
    background-color: $light-yellow;
    border: 1px solid $light-yellow;
    &:hover,
    &:focus,
    &:focus-within {
      background: darken($light-yellow, 10%);
    }
  }
}

.list-wrapper {
  @media screen and (max-width: $break-sm) {
    width: 80vw;
    .name {
      font-size: 12px;
    }
    .create-btn {
      width: 100%;
    }
  }
}

.mainw {
  @media screen and (max-width: $break-sm) {
    right: 1.2rem;
  }
}
