@import '../base/variables';

.mainw {
  top: 7vh;
  right: 2.4rem;
  z-index: 100;
}

.list-wrapper {
  right: 0.2rem;
  overflow-y: auto;
  background-color: $white-partial;

  li.inline-block {
    background-color: $white-partial;
  }
  .icon {
    color: #757575;
  }
}

.status-text {
  line-height: 17px;
}

.on {
  color: #2aa9b7;
}

.off {
  color: #ff4e46;
}

.list-wrapper.dark {
  color: $white-hsl;
  background-color: $dark-charcoal;
  .el-button {
    color: $dark-charcoal;
    background-color: $light-yellow;
    border: 1px solid $light-yellow;
    &:hover,
    &:focus,
    &:focus-within {
      background: darken($light-yellow, 10%);
    }
  }
}
