@import '../base/variables';

.mainw {
  top: 4.4rem;
  right: 1.6rem;
  height: 40vh;
  z-index: 100;
}

.list-wrapper {
  right: 0.2rem;
  overflow: hidden;
  max-height: 20rem;
  background-color: darken($white-partial, 4%);
  .list-wrapper__inner {
    height: 33vh;
  }
  header {
    padding: 1.2rem;
    background-color: #cccccc;
  }
  ul {
    overflow-y: auto;
    height: 20vh;
  }
  .name {
    font-size: 1em;
  }
  footer {
    left: 0;
    width: 96%;
    bottom: -0.4rem;
    background-color: darken($white-partial, 4%);
    .create-btn {
      width: 50%;
    }
  }
  li.inline-block {
    background-color: $white-partial;
  }
  .icon {
    color: #757575;
  }

  &.dark {
    li[role='listitem'] {
      color: $white-hsl;
      background-color: $light-charcoal;
      &:hover {
        background-color: darken($dark-charcoal, 2%);
      }
    }
    color: $white-hsl;
    background-color: $dark-charcoal;
    footer {
      background-color: $dark-charcoal;
      .el-button {
        color: $white-hsl;
        background-color: $dark-charcoal;
        border: 1px solid $dark-charcoal;
        &:hover,
        &:focus,
        &:focus-within {
          background: darken($dark-charcoal, 10%);
        }
      }
    }
  }
}

.status-text {
  line-height: 17px;
}

.on {
  color: #2aa9b7;
}

.off {
  color: #ff4e46;
}

.mainw {
  @media screen and (max-width: $break-sm) {
    right: 1.2rem;
  }
}
