@import '../base/variables';

.el-dialog__wrapper {
  background-color: rgba(39, 38, 38, 0.329);
}

.inner-wrapper {
  top: 25vh;
  width: 72%;
  @media screen and (max-width: $break-lg) {
    width: 80%;
  }
  @media screen and (max-width: $break-md) {
    width: 72%;
  }
  @media screen and (max-width: $break-sm) {
    width: 92%;
  }
}

#map {
  height: 20rem;
}

.map-elm {
  width: 100%;
}

.application.dark {
  .inner-wrapper {
    background-color: $dark-charcoal;
    p {
      color: $white-partial;
    }
  }
}
