@import '../../../node_modules/normalize.css/normalize';
@import 'helpers/atomic-classes';

body,
html,
.application {
  @extend .no-overflow;
  color: rgba(0, 0, 0, 0.87);
}
.application {
  overflow-y: scroll;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
  color: #000;
}

a {
  color: #255fb9;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

h1 {
  @extend .m0;
}

.el-drawer__header {
  display: none !important;
}
