@import '../../../node_modules/normalize.css/normalize';
@import 'helpers/atomic-classes';
@import 'base/variables';

body,
html,
.application {
  @extend .no-overflow;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'helvetica';
}
.application {
  overflow-y: scroll;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
  color: #000;
}

a {
  color: #255fb9;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

h1 {
  @extend .m0;
}

.el-drawer__header {
  display: none !important;
}

.el-divider--vertical {
  min-height: calc(100% - 16px);
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group,
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
  margin-right: 1.62rem !important;
}

.mapboxgl-ctrl-bottom-right {
  .mapboxgl-ctrl-group {
    position: absolute;
    min-width: auto;
    width: fit-content;
    right: 0;
    bottom: 20rem;
  }
}
.mapboxgl-ctrl-group {
  .el-button--text:hover {
    color: inherit !important;
  }
}
.mapboxgl-ctrl-top-right {
  top: unset !important;
  bottom: 14rem !important;
  .mapboxgl-ctrl-group {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    min-width: auto;
    width: 2rem;
    right: 0;
  }
}
.mapboxgl-ctrl-group > button {
  color: inherit;
  text-align: center;
  width: 100% !important;
}
.el-button + .el-button {
  margin: 0 !important;
}

.mapboxgl-ctrl-top-left {
  top: 4rem;
  left: unset;
  right: 0rem;
}

.mapboxgl-ctrl-group > button {
  &:focus {
    color: inherit !important;
    box-shadow: none !important;
  }
}

.el-popover {
  border: 0 none transparent !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: all $regular-transition;
}
.fade-enter,
.fade-leave {
  opacity: 0;
  transform-origin: 50% 50%;
}

/*
*  THEME VARIANT'S
*/

// .application.light {
//   .el-radio__inner:hover {
//     border-color: $light-yellow;
//   }
// }
