@import '../../../node_modules/normalize.css/normalize';
@import 'helpers/atomic-classes';
@import 'base/variables';
@import './node_modules/vue-cookieconsent-component/src/scss/cookie-consent-transition';
@import './node_modules/vue-cookieconsent-component/src/scss/cookie-consent-bottom';
@import './node_modules/vue-cookieconsent-component/src/scss/cookie-consent';

$border-top-white: 1px solid white;

body,
html,
.application {
  @extend .no-overflow;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'helvetica';
}
.application {
  overflow-y: scroll;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
  color: #000;
}

a {
  color: #255fb9;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

h1 {
  @extend .m0;
}

.el-drawer__header {
  display: none !important;
}

.el-divider--vertical {
  min-height: calc(100% - 16px);
}

.cookie-consent {
  bottom: unset !important;
  top: 0 !important;
}
.cookie-consent-transition {
  &-leave-to {
    transform: translateY(-100%) !important;
  }
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group,
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
  margin-right: 1.62rem !important;
}

.mapboxgl-ctrl-bottom-right {
  .mapboxgl-ctrl-group {
    position: absolute;
    min-width: auto;
    width: fit-content;
    right: 0;
    bottom: 20rem;
  }
}
.mapboxgl-ctrl-group {
  .el-button--text:hover {
    color: inherit !important;
  }
}
.mapboxgl-ctrl-top-right {
  top: unset !important;
  bottom: 14rem !important;
  .mapboxgl-ctrl-group {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    min-width: auto;
    width: 2rem;
    right: 0;
  }
}
.mapboxgl-ctrl-group > button {
  color: inherit;
  text-align: center;
  width: 100% !important;
}
.el-button + .el-button {
  margin: 0 !important;
}

.mapboxgl-ctrl-top-left {
  top: 4rem;
  left: unset;
  right: 0rem;
}

.mapboxgl-ctrl-group > button {
  &:focus,
  &:hover,
  &:focus-within {
    color: inherit !important;
    box-shadow: none !important;
    background-color: lightgrey;
  }
}

.el-popover {
  border: 0 none transparent !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: all $regular-transition;
}
.fade-enter,
.fade-leave {
  opacity: 0;
  transform-origin: 50% 50%;
}

.calculation-box {
  top: 6rem;
  right: 2rem;
  border-radius: 4px;
  border: 1px dashed rebeccapurple;
  background: rgba(255, 255, 255, 0.4);
  p {
    margin: 0;
  }
}

.title-user,
.title-user-variant {
  color: #212121;
  line-height: 30px;
}

.title-user {
  font-size: 25px;
  font-weight: 700;
}

.title-user-variant {
  font-size: 20px;
  font-weight: 500;
}

/*
*  THEME VARIANT'S
*/

// .application.light {
//   .el-radio__inner:hover {
//     border-color: $light-yellow;
//   }
// }

.application .dark {
  .mapbox-controllers,
  .mapboxgl-ctrl-group {
    background: #323232;
  }
  .mapbox-gl-draw_line {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgd2lkdGg9IjIwIiAgIGhlaWdodD0iMjAiICAgdmlld0JveD0iMCAwIDIwIDIwIiAgIGlkPSJzdmcxOTE2NyIgICB2ZXJzaW9uPSIxLjEiICAgaW5rc2NhcGU6dmVyc2lvbj0iMC45MStkZXZlbCtvc3htZW51IHIxMjkxMSIgICBzb2RpcG9kaTpkb2NuYW1lPSJsaW5lLnN2ZyI+ICA8ZGVmcyAgICAgaWQ9ImRlZnMxOTE2OSIgLz4gIDxzb2RpcG9kaTpuYW1lZHZpZXcgICAgIGlkPSJiYXNlIiAgICAgcGFnZWNvbG9yPSIjZmZmZmZmIiAgICAgYm9yZGVyY29sb3I9IiM2NjY2NjYiICAgICBib3JkZXJvcGFjaXR5PSIxLjAiICAgICBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMC4wIiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIgICAgIGlua3NjYXBlOnpvb209IjE2IiAgICAgaW5rc2NhcGU6Y3g9IjEyLjg5ODc3NSIgICAgIGlua3NjYXBlOmN5PSI5LjU4OTAxNTIiICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0icHgiICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJsYXllcjEiICAgICBzaG93Z3JpZD0idHJ1ZSIgICAgIHVuaXRzPSJweCIgICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMTI4MCIgICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9Ijc1MSIgICAgIGlua3NjYXBlOndpbmRvdy14PSIwIiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjIzIiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIgICAgIGlua3NjYXBlOm9iamVjdC1ub2Rlcz0idHJ1ZSI+ICAgIDxpbmtzY2FwZTpncmlkICAgICAgIHR5cGU9Inh5Z3JpZCIgICAgICAgaWQ9ImdyaWQxOTcxNSIgLz4gIDwvc29kaXBvZGk6bmFtZWR2aWV3PiAgPG1ldGFkYXRhICAgICBpZD0ibWV0YWRhdGExOTE3MiI+ICAgIDxyZGY6UkRGPiAgICAgIDxjYzpXb3JrICAgICAgICAgcmRmOmFib3V0PSIiPiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+ICAgICAgICA8ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4gICAgICAgIDxkYzp0aXRsZSAvPiAgICAgIDwvY2M6V29yaz4gICAgPC9yZGY6UkRGPiAgPC9tZXRhZGF0YT4gIDxnICAgICBpbmtzY2FwZTpsYWJlbD0iTGF5ZXIgMSIgICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiICAgICBpZD0ibGF5ZXIxIiAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwtMTAzMi4zNjIyKSI+ICAgIDxwYXRoICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJpbGl0eTp2aXNpYmxlO2ZpbGw6d2hpdGU7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjM7bWFya2VyOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIgICAgICAgZD0ibSAxMy41LDEwMzUuODYyMiBjIC0xLjM4MDcxMiwwIC0yLjUsMS4xMTkzIC0yLjUsMi41IDAsMC4zMjA4IDAuMDQ2MTQsMC42MjQ0IDAuMTU2MjUsMC45MDYzIGwgLTMuNzUsMy43NSBjIC0wLjI4MTgzNiwtMC4xMTAyIC0wLjU4NTQyMSwtMC4xNTYzIC0wLjkwNjI1LC0wLjE1NjMgLTEuMzgwNzEyLDAgLTIuNSwxLjExOTMgLTIuNSwyLjUgMCwxLjM4MDcgMS4xMTkyODgsMi41IDIuNSwyLjUgMS4zODA3MTIsMCAyLjUsLTEuMTE5MyAyLjUsLTIuNSAwLC0wLjMyMDggLTAuMDQ2MTQsLTAuNjI0NCAtMC4xNTYyNSwtMC45MDYyIGwgMy43NSwtMy43NSBjIDAuMjgxODM2LDAuMTEwMSAwLjU4NTQyMSwwLjE1NjIgMC45MDYyNSwwLjE1NjIgMS4zODA3MTIsMCAyLjUsLTEuMTE5MyAyLjUsLTIuNSAwLC0xLjM4MDcgLTEuMTE5Mjg4LC0yLjUgLTIuNSwtMi41IHoiICAgICAgIGlkPSJyZWN0NjQ2NyIgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz4gIDwvZz48L3N2Zz4K') !important;
  }
  .mapbox-gl-draw_trash {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgd2lkdGg9IjIwIiAgIGhlaWdodD0iMjAiICAgaWQ9InN2ZzU3MzgiICAgdmVyc2lvbj0iMS4xIiAgIGlua3NjYXBlOnZlcnNpb249IjAuOTErZGV2ZWwrb3N4bWVudSByMTI5MTEiICAgc29kaXBvZGk6ZG9jbmFtZT0idHJhc2guc3ZnIiAgIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8ZGVmcyAgICAgaWQ9ImRlZnM1NzQwIiAvPiAgPHNvZGlwb2RpOm5hbWVkdmlldyAgICAgaWQ9ImJhc2UiICAgICBwYWdlY29sb3I9IiNmZmZmZmYiICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIgICAgIGJvcmRlcm9wYWNpdHk9IjEuMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwLjAiICAgICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIiAgICAgaW5rc2NhcGU6em9vbT0iMjIuNjI3NDE3IiAgICAgaW5rc2NhcGU6Y3g9IjEyLjEyODE4NCIgICAgIGlua3NjYXBlOmN5PSI4Ljg0NjEzMDciICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0icHgiICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJsYXllcjEiICAgICBzaG93Z3JpZD0idHJ1ZSIgICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMTAzMyIgICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9Ijc1MSIgICAgIGlua3NjYXBlOndpbmRvdy14PSIyMCIgICAgIGlua3NjYXBlOndpbmRvdy15PSIyMyIgICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjAiICAgICBpbmtzY2FwZTpzbmFwLXNtb290aC1ub2Rlcz0idHJ1ZSIgICAgIGlua3NjYXBlOm9iamVjdC1ub2Rlcz0idHJ1ZSI+ICAgIDxpbmtzY2FwZTpncmlkICAgICAgIHR5cGU9Inh5Z3JpZCIgICAgICAgaWQ9ImdyaWQ1NzQ2IiAgICAgICBlbXBzcGFjaW5nPSI1IiAgICAgICB2aXNpYmxlPSJ0cnVlIiAgICAgICBlbmFibGVkPSJ0cnVlIiAgICAgICBzbmFwdmlzaWJsZWdyaWRsaW5lc29ubHk9InRydWUiIC8+ICA8L3NvZGlwb2RpOm5hbWVkdmlldz4gIDxtZXRhZGF0YSAgICAgaWQ9Im1ldGFkYXRhNTc0MyI+ICAgIDxyZGY6UkRGPiAgICAgIDxjYzpXb3JrICAgICAgICAgcmRmOmFib3V0PSIiPiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+ICAgICAgICA8ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4gICAgICAgIDxkYzp0aXRsZSAvPiAgICAgIDwvY2M6V29yaz4gICAgPC9yZGY6UkRGPiAgPC9tZXRhZGF0YT4gIDxnICAgICBpbmtzY2FwZTpsYWJlbD0iTGF5ZXIgMSIgICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiICAgICBpZD0ibGF5ZXIxIiAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwtMTAzMi4zNjIyKSI+ICAgIDxwYXRoICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJpbGl0eTp2aXNpYmxlO2ZpbGw6d2hpdGU7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjAuOTk5OTk5ODI7bWFya2VyOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIgICAgICAgZD0ibSAxMCwxMDM1Ljc3NDMgYyAtMC43ODQ5MjUzLDhlLTQgLTEuNDk2ODM3NiwwLjQ2MDYgLTEuODIwMzEyNSwxLjE3NTggbCAtMy4xNzk2ODc1LDAgLTEsMSAwLDEgMTIsMCAwLC0xIC0xLC0xIC0zLjE3OTY4OCwwIGMgLTAuMzIzNDc1LC0wLjcxNTIgLTEuMDM1Mzg3LC0xLjE3NSAtMS44MjAzMTIsLTEuMTc1OCB6IG0gLTUsNC41ODc5IDAsNyBjIDAsMSAxLDIgMiwyIGwgNiwwIGMgMSwwIDIsLTEgMiwtMiBsIDAsLTcgLTIsMCAwLDUuNSAtMS41LDAgMCwtNS41IC0zLDAgMCw1LjUgLTEuNSwwIDAsLTUuNSB6IiAgICAgICBpZD0icmVjdDI0MzktNyIgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjIiAvPiAgPC9nPjwvc3ZnPgo=') !important;
  }
  .mapbox-gl-draw_polygon {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIgogIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIiBpZD0ic3ZnMTkxNjciCiAgdmVyc2lvbj0iMS4xIiBpbmtzY2FwZTp2ZXJzaW9uPSIwLjkxK2RldmVsK29zeG1lbnUgcjEyOTExIiBzb2RpcG9kaTpkb2NuYW1lPSJzcXVhcmUuc3ZnIj4KICA8ZGVmcyBpZD0iZGVmczE5MTY5IiAvPgogIDxzb2RpcG9kaTpuYW1lZHZpZXcgaWQ9ImJhc2UiIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIgYm9yZGVyY29sb3I9IiM2NjY2NjYiIGJvcmRlcm9wYWNpdHk9IjEuMCIgaW5rc2NhcGU6cGFnZW9wYWNpdHk9IjAuMCIKICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiIGlua3NjYXBlOnpvb209IjExLjMxMzcwOCIgaW5rc2NhcGU6Y3g9IjExLjY4MTYzNCIgaW5rc2NhcGU6Y3k9IjkuMjg1NzE0MyIKICAgIGlua3NjYXBlOmRvY3VtZW50LXVuaXRzPSJweCIgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ibGF5ZXIxIiBzaG93Z3JpZD0idHJ1ZSIgdW5pdHM9InB4IiBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjEyODAiCiAgICBpbmtzY2FwZTp3aW5kb3ctaGVpZ2h0PSI3NTEiIGlua3NjYXBlOndpbmRvdy14PSIwIiBpbmtzY2FwZTp3aW5kb3cteT0iMjMiIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjAiCiAgICBpbmtzY2FwZTpvYmplY3Qtbm9kZXM9InRydWUiPgogICAgPGlua3NjYXBlOmdyaWQgdHlwZT0ieHlncmlkIiBpZD0iZ3JpZDE5NzE1IiAvPgogIDwvc29kaXBvZGk6bmFtZWR2aWV3PgogIDxtZXRhZGF0YSBpZD0ibWV0YWRhdGExOTE3MiI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiIC8+CiAgICAgICAgPGRjOnRpdGxlIC8+CiAgICAgIDwvY2M6V29yaz4KICAgIDwvcmRmOlJERj4KICA8L21ldGFkYXRhPgogIDxnIGlua3NjYXBlOmxhYmVsPSJMYXllciAxIiBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIiBpZD0ibGF5ZXIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLC0xMDMyLjM2MjIpIj4KICAgIDxwYXRoIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJpbGl0eTp2aXNpYmxlO2ZpbGw6IHdoaXRlO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDowLjU7bWFya2VyOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIKICAgICAgZD0ibSA1LDEwMzkuMzYyMiAwLDYgMiwyIDYsMCAyLC0yIDAsLTYgLTIsLTIgLTYsMCB6IG0gMywwIDQsMCAxLDEgMCw0IC0xLDEgLTQsMCAtMSwtMSAwLC00IHoiIGlkPSJyZWN0Nzc5NyIKICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NjY2NjY2NjY2NjY2NjY2MiIC8+CiAgICA8Y2lyY2xlCiAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJpbGl0eTp2aXNpYmxlO2ZpbGw6IHdoaXRlO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoxLjYwMDAwMDAyO21hcmtlcjpub25lO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiCiAgICAgIGlkPSJwYXRoNDM2NCIgY3g9IjYiIGN5PSIxMDQ2LjM2MjIiIHI9IjIiIC8+CiAgICA8Y2lyY2xlIGlkPSJwYXRoNDM2OCIKICAgICAgc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTt2aXNpYmlsaXR5OnZpc2libGU7ZmlsbDogd2hpdGU7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjEuNjAwMDAwMDI7bWFya2VyOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIKICAgICAgY3g9IjE0IiBjeT0iMTA0Ni4zNjIyIiByPSIyIiAvPgogICAgPGNpcmNsZSBpZD0icGF0aDQzNzAiCiAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJpbGl0eTp2aXNpYmxlO2ZpbGw6IHdoaXRlO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoxLjYwMDAwMDAyO21hcmtlcjpub25lO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGUiCiAgICAgIGN4PSI2IiBjeT0iMTAzOC4zNjIyIiByPSIyIiAvPgogICAgPGNpcmNsZQogICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO3Zpc2liaWxpdHk6dmlzaWJsZTtmaWxsOiB3aGl0ZTtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MS42MDAwMDAwMjttYXJrZXI6bm9uZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgICBpZD0icGF0aDQzNzIiIGN4PSIxNCIgY3k9IjEwMzguMzYyMiIgcj0iMiIgLz4KICA8L2c+Cjwvc3ZnPgo=') !important;
  }
  .mapboxgl-ctrl-zoom-in {
    border-top: $border-top-white;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjAgMjAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CiAgPHBhdGggc3R5bGU9J2ZpbGw6d2hpdGU7JwogICAgZD0nTSAxMCA2IEMgOS40NDYgNiA5IDYuNDQ1OTkwNCA5IDcgTCA5IDkgTCA3IDkgQyA2LjQ0NiA5IDYgOS40NDYgNiAxMCBDIDYgMTAuNTU0IDYuNDQ2IDExIDcgMTEgTCA5IDExIEwgOSAxMyBDIDkgMTMuNTU0MDEgOS40NDYgMTQgMTAgMTQgQyAxMC41NTQgMTQgMTEgMTMuNTU0MDEgMTEgMTMgTCAxMSAxMSBMIDEzIDExIEMgMTMuNTU0IDExIDE0IDEwLjU1NCAxNCAxMCBDIDE0IDkuNDQ2IDEzLjU1NCA5IDEzIDkgTCAxMSA5IEwgMTEgNyBDIDExIDYuNDQ1OTkwNCAxMC41NTQgNiAxMCA2IHonIC8+Cjwvc3ZnPgo=') !important;
  }
  .mapboxgl-ctrl-zoom-out {
    border-top: $border-top-white;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjAgMjAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+IDxwYXRoIHN0eWxlPSdmaWxsOndoaXRlOycgZD0nbSA3LDkgYyAtMC41NTQsMCAtMSwwLjQ0NiAtMSwxIDAsMC41NTQgMC40NDYsMSAxLDEgbCA2LDAgYyAwLjU1NCwwIDEsLTAuNDQ2IDEsLTEgMCwtMC41NTQgLTAuNDQ2LC0xIC0xLC0xIHonLz4gPC9zdmc+Cg==') !important;
  }
  .mapboxgl-ctrl-geolocate {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjAgMjAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgZmlsbD0nd2hpdGUnPiA8cGF0aCBkPSdNMTAgNEM5IDQgOSA1IDkgNUw5IDUuMUE1IDUgMCAwIDAgNS4xIDlMNSA5QzUgOSA0IDkgNCAxMCA0IDExIDUgMTEgNSAxMUw1LjEgMTFBNSA1IDAgMCAwIDkgMTQuOUw5IDE1QzkgMTUgOSAxNiAxMCAxNiAxMSAxNiAxMSAxNSAxMSAxNUwxMSAxNC45QTUgNSAwIDAgMCAxNC45IDExTDE1IDExQzE1IDExIDE2IDExIDE2IDEwIDE2IDkgMTUgOSAxNSA5TDE0LjkgOUE1IDUgMCAwIDAgMTEgNS4xTDExIDVDMTEgNSAxMSA0IDEwIDR6TTEwIDYuNUEzLjUgMy41IDAgMCAxIDEzLjUgMTAgMy41IDMuNSAwIDAgMSAxMCAxMy41IDMuNSAzLjUgMCAwIDEgNi41IDEwIDMuNSAzLjUgMCAwIDEgMTAgNi41ek0xMCA4LjNBMS44IDEuOCAwIDAgMCA4LjMgMTAgMS44IDEuOCAwIDAgMCAxMCAxMS44IDEuOCAxLjggMCAwIDAgMTEuOCAxMCAxLjggMS44IDAgMCAwIDEwIDguM3onLz4gPC9zdmc+Cg==') !important;
  }
}
