@import '../../base/variables';

.el-card {
  width: 60rem;
  color: $light-charcoal;
}

.el-card.popular {
  border-left: 8px solid $blue;
}

.card-inner-wrapper header {
  position: relative;
  width: 100%;
}

.popular-tag {
  color: $blue;
  height: 0.8rem;
  width: fit-content;
  border-radius: 12px;
  border: 1px solid $blue;
}

.el-card h2 {
  font-size: 1rem;
  font-family: inherit;
  word-break: break-word;
}

.light-tag {
  color: #909399;
  font-size: 12px;
}

.icon {
  color: #909399;
}

.el-card {
  .info-wrapper {
    width: 88%;
  }

  @media screen and (max-width: 1290px) {
    width: 44rem;
    .align-self-end {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: $break-sm) {
    min-width: auto;
    width: 88vw;
    .align-self-end {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: $break-xs) {
    min-width: auto;
    width: 88vw;
    .align-self-end {
      margin-top: 1rem;
    }
  }
}
