@import '../../base/variables';
@import '../../helpers/atomic-classes';

#profileBtn {
  color: $white-partial;
  background-color: $dark-yellow;
  &:hover,
  &:focus,
  &:focus-within {
    background-color: lighten($dark-yellow, 4%);
  }
}

.el-card:nth-child(1) {
  @media screen and (max-width: $break-md) {
    margin-bottom: 1rem;
  }
}

/*
*  THEME VARIANT'S
*/

.application.light {
  .main-wrapper {
    background: $white-profile;

    header.header {
      border-bottom: 1px solid #91c6f6;
    }
  }
}

.application.dark {
  .main-wrapper {
    color: $white-partial;
    background: $dark-charcoal;

    header.header {
      border-bottom: 1px solid $white-full;
    }

    .el-card {
      color: $white-partial;
      border-color: $light-charcoal;
      background-color: $light-charcoal;
    }
  }
}
