@import '../../base/variables';
@import '../../helpers/atomic-classes';

.main-wrapper {
  height: 95vh;
  .left {
    &.el-card {
      width: 30vw;
      overflow-y: auto;
      @media screen and (max-width: $break-md) {
        width: 45vw;
      }
    }
  }
}
/*
*  THEME VARIANT'S
*/

.application.light {
  .main-wrapper {
    background: $white-profile;
    .el-card {
      background-color: $white-full;
    }
  }
}

.application.dark {
  .main-wrapper {
    background: darken($dark-charcoal, 1%);
    .el-card {
      background-color: $dark-charcoal;
    }
  }
}
