@import '../../base/variables';
@import '../../helpers/atomic-classes';

li[role='listitem'] {
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

.main-wrapper {
  @media screen and (max-width: $break-sm) {
    padding-bottom: 20rem;
    overflow-y: scroll;
    max-height: 80vh;
  }
}

/*
*  THEME VARIANT'S
*/

.application.light {
  .main-wrapper {
    background: $white-profile;
  }
}

.application.dark {
  .main-wrapper {
    color: $white-partial;
    background: $dark-charcoal;

    .el-card {
      color: $white-partial;
      border-color: $light-charcoal;
      background-color: $light-charcoal;
    }

    #changePass {
      color: $white-partial;
    }
  }
}
