@import '../../base/variables';
@import '../../helpers/atomic-classes';

.footer {
  background-color: $dark-blue;
  color: $white-partial;
}

.inner-wrapper {
  margin: 0 auto;
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
}

.logo-title {
  margin-top: -0.8rem;
}

.logo-img {
  height: 42px;
  width: 120px;
}

.links-wrapper {
  display: flex;
  width: 30vw;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
}

.link-list {
  max-width: 30%;
  .title-link {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color: #6ebfff;
  }
  .list-item {
    font-size: 14px;
  }
}

.link-list,
.logo-wrapper {
  flex: 1 1 auto;
  @media screen and (max-width: $break-sm) {
    width: 100%;
    max-width: unset;
  }
}
