@import '../../base/variables';

.drawer-wrapper {
  background: $white-full;
  position: absolute;
  width: auto;
  max-width: 42rem;
  height: 102vh;
  z-index: 2000 !important;
  left: 0;
  top: -5px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  border-color: transparent;
  transition: all $regular-transition;

  @media screen and (max-width: $break-xs) {
    top: 0;
    bottom: unset;
    width: 100%;
    &.active {
      height: 100%;
    }
  }

  .el-card {
    border: none;
    min-width: auto;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: $white-full;

    .inner-wrapper {
      width: 100%;
    }

    h1.title {
      max-width: 18rem;
    }
    .icon.absolute {
      top: 0.5rem;
      right: 1rem;
      &:hover {
        background-color: $light-hover;
      }
    }
  }
}

.logo-img {
  height: 34px;
  width: 120px;
}

header {
  border-bottom: 1px solid $light-hover;
  .icon {
    &.light {
      color: $dark-charcoal;
      &:hover {
        background-color: $light-hover;
      }
    }
    &.dark {
      color: $white-partial;
      &:hover {
        background-color: $dark-charcoal;
      }
    }
  }
}

#sponsors-wrapper {
  width: 30rem;
  @media screen and (max-width: $break-xs) {
    width: 100vw;
  }
}

/*
 * Theme variants
*/

.application.light {
  .header {
    color: $white-full;
    background-color: $blue-user-interface;
  }
}

.application.dark {
  header {
    color: $white-full;
    background-color: $dark-charcoal;
  }
  .el-card {
    background-color: $light-charcoal;
    h2,
    .el-button {
      color: $white-partial;
      background-color: $light-charcoal;
    }
    .el-button {
      text-decoration: underline;
    }
  }
  .header {
    color: $white-partial;
    background-color: $gray;
  }
}
