@import '../../base/variables';
@import '../../helpers/atomic-classes';

.visible-from-start {
  opacity: 1 !important;
  background-color: rgba($color: #0000, $alpha: 0.8);
}
.no-gray-filter {
  filter: grayscale(0);
}

.main-wrapper {
  background-color: #fcfcfc;
}

.main-wrapper_after-hero {
  margin-top: 5rem;
}

.hero-wrapper {
  border-top: 1px solid $grey-ligthen-3;

  .hero-img {
    object-fit: cover;
    width: 100%;
  }

  .overlay-inner {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: $break-sm) {
      text-align: center;
      opacity: 1 !important;
      background-color: rgba($color: #0000, $alpha: 0.8);
    }
  }
  &:hover {
    .map-wrapper {
      filter: blur(2px);
    }
    .overlay-inner {
      @extend .visible-from-start;
    }
  }
}

#whatWeDo {
  margin: 5rem 0;
  div {
    flex: 1;
    margin: 0 auto;
    max-width: 75vw;
    padding: 4rem 8px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.hidden {
  display: hidden;
}

.text-lg {
  font-size: 1.2em;
}

@media screen and (min-width: $break-xs) {
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
}

@media screen and (min-width: $break-md) {
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
}

.adjust-max-w {
  width: 75vw;
  margin: 0 auto;
}

.introduction {
  .left {
    width: 60%;
    @media screen and (max-width: $break-sm) {
      .mt8 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
      width: 63.8%;
      .text--homepage-variant {
        max-width: 100%;
        text-align: justify;
      }
    }
    @media screen and (max-width: $break-sm) {
      width: 100%;
      .text--homepage-variant {
        max-width: 96%;
      }
    }
  }
  .right {
    width: 40%;
    margin-top: 4.2rem;
    height: fit-content;
    box-shadow: 2px 2px 12px 2px #ccc;
    border-radius: 12px;
    overflow: hidden;

    @media screen and (max-width: $break-md) {
      margin-top: 5.2rem;
    }
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  @media screen and (max-width: $break-xs) {
    margin-top: 2rem;
  }
}

.phrases {
  .left {
    display: flex;
    flex: 0 0 40%;
    justify-content: flex-start;
    .icons-main-wrapper {
      display: grid;
      grid-template-rows: repeat(4, 4rem);
      grid-template-columns: repeat(2, 1fr);
      .icon-wrapper {
        @extend .capitalize, .fs-xlarge, .font-thin;
        height: 4rem;
        &:nth-child(2) {
          grid-row: 2;
          grid-column: 2;
        }
        &:nth-child(3) {
          grid-row: 3;
          grid-column: 1;
        }
        &:nth-child(4) {
          grid-row: 4;
          grid-column: 2;
        }
        .icon {
          padding: 0.8rem;
          font-size: 34px;
          @extend .circle;
          margin-right: 0.2rem;
          background-color: darken($white-hsl, 6.2%);
        }
      }

      @media screen and (max-width: $break-sm) {
        font-size: 18px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .icon-wrapper {
          padding: 0;
          height: 2.4rem;
          margin-bottom: 1rem;
          margin-right: 0.8rem;
          font-size: inherit;
          .icon {
            font-size: inherit;
            width: 2rem;
            height: 0;
          }
        }
      }
      @media screen and (max-width: $break-sm) {
        margin-left: -1.4rem;
        .icon-wrapper {
          padding: 0;
          height: 2.4rem;
          margin-bottom: 1rem;
          margin-right: 0.8rem;
          font-size: inherit;
          .icon {
            font-size: inherit;
            width: 1.2rem;
            height: 0;
          }
        }
      }
    }
    @media screen and (max-width: $break-sm) {
      justify-content: center;
    }
  }

  .right {
    width: 59.8%;
    .list-wrapper {
      @extend .mt8, .mb8;
      margin-left: 1rem;
      li {
        @extend .mb4, .text--homepage-variant, .w-fit-full, .inline-block;
      }
    }
    .text--homepage-variant {
      max-width: 100%;
    }
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  @media screen and (max-width: $break-sm) {
    flex-flow: column;
  }
}

.blockquote {
  max-width: 70rem;
  margin: 0 auto;
  .left {
    flex: 0 0 45%;
    align-self: center;
  }
  .right {
    flex: 0 0 50%;
  }
  .founder-image {
    width: 14rem;
    height: 14rem;
    margin-left: 2rem;
  }
  .text--homepage-variant {
    max-width: 88%;
    margin-top: 2rem;
  }
  @media screen and (max-width: $break-sm) {
    padding: 1rem;
    flex-flow: column;
    justify-content: center;
    .founder-image {
      margin-left: 0;
    }
    .right {
      .text--homepage-variant {
        max-width: 100%;
        text-align: justify;
      }
    }
  }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .text--homepage-variant {
      max-width: 100%;
      text-align: justify;
    }
  }
  @media screen and (max-width: $break-xs) {
    padding: 1rem;
    .left {
      .founder-image {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}

#trustedBySection .boxes-wrapper,
#partnersSection .boxes-wrapper {
  display: grid;
  width: 100%;
  gap: 0.4rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
  .box {
    @extend .transition-all;
    width: 5.2rem;
    height: 5.2rem;
    filter: grayscale(100%);
    color: whitesmoke;
    &:hover {
      @extend .no-gray-filter;
      transform: scale(1.02);
    }
    @media screen and (max-width: $break-sm) {
      filter: grayscale(0);
    }
  }
  @media screen and (max-width: $break-xs) {
    .box {
      width: 3.2rem;
      height: 3.2rem;
    }
    grid-template-columns: repeat(auto-fit, minmax(4.2rem, 1fr));
  }
}

.bottom-banner {
  text-align: center;
  @media screen and (max-width: $break-md) {
    div.p2 {
      width: 100%;
    }
  }
  .call-to-action {
    button.el-button {
      margin-right: 0.4rem;
    }
  }
  .banner-image {
    filter: grayscale(20%);
  }
}
