@import '../../base/variables';
@import '../../helpers/atomic-classes';

.title {
  line-height: 1.2;
  font-weight: auto;
  color: #485160;
  &.md {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.diff {
    color: #bdc4ca;
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}
.text {
  margin-bottom: 0;
  max-width: 72%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #8a989e;
  @extend .dont-break-out;
}
.no-gray-filter {
  filter: grayscale(0);
}

.hero-wrapper {
  border-top: 1px solid $grey-ligthen-3;
  .inner-wrapper-text {
    width: 40vw;
    @media screen and (max-width: $break-xs) {
      width: 67vw;
      text-align: center;
    }
  }
  &:hover {
    .map-wrapper {
      filter: blur(2px);
    }
    .overlay-inner {
      @extend .visible-from-start;
    }
  }
}

#moreBelowBtn {
  position: absolute;
  bottom: 4rem;
  left: 48vw;
  width: 3rem;
  height: 3rem;
  font-size: 40px;
  z-index: 2000;
  cursor: pointer;
  transition: all 320 ease-in-out;
  &:hover {
    transform: translateY(1.2rem);
  }
}

.visible-from-start {
  opacity: 1 !important;
  background-color: rgba($color: #0000, $alpha: 0.8);
}

.overlay-inner {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.main-wrapper_after-hero {
  width: 75vw;
  margin: 0 auto;
}

.information-section {
  display: flex;
  flex-flow: row wrap;
  .description .inner-wrapper {
    &:first-child {
      width: 61.4%;
    }
    &:nth-child(2) {
      width: 38%;
      height: 20rem;
      box-shadow: 2px 2px 12px 2px #ccc;
      transform: perspective(720px) rotateX(0deg) rotateY(2deg);
    }
  }

  @media screen and (max-width: $break-xs) {
    margin-top: 2rem;
  }
}

#trustedBySection .boxes-wrapper,
#partnersSection .boxes-wrapper,
#blogSection .boxes-wrapper {
  display: grid;
  width: 100%;
  gap: 0.4rem;
  margin-bottom: 2rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
  .box {
    @extend .transition-all;
    width: 5.2rem;
    height: 5.2rem;
    filter: grayscale(100%);
    color: whitesmoke;
    &.no-gray-filter {
      @extend .no-gray-filter;
    }
    &:hover {
      @extend .no-gray-filter;
      transform: scale(1.02);
    }
  }
}

.services-wrapper {
  .boxes-wrapper {
    display: grid;
    width: 100%;
    gap: 0.4rem;
    margin-bottom: 2rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    .box {
      width: 12re;
    }
  }
  @media screen and (max-width: $break-xs) {
    padding: 0;
  }
}

.bottom-banner {
  text-align: center;
  .call-to-action {
    button.el-button {
      margin-right: 0.4rem;
    }
  }
}
