@import '../../base/variables';
@import '../../helpers/atomic-classes';

.title {
  line-height: 1.2;
  color: #424c5e;
  &.md {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.diff {
    color: #bdc4ca;
  }
  &.shadow {
    text-shadow: 1px 0 0 rgb(49, 49, 49);
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}
.text {
  margin-bottom: 0;
  max-width: 72%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #485160;
  @extend .dont-break-out;
  @media screen and (max-width: $break-xs) {
    max-width: 100%;
  }
}

.main-wrapper {
  background-color: #fcfcfc;
}

.no-gray-filter {
  filter: grayscale(0);
}

.hero-wrapper {
  border-top: 1px solid $grey-ligthen-3;
  .inner-wrapper-text {
    width: 40vw;
    @media screen and (max-width: $break-xs) {
      width: 67vw;
      text-align: center;
    }
  }
  .overlay-inner {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .map-wrapper {
      filter: blur(2px);
    }
    .overlay-inner {
      @extend .visible-from-start;
    }
  }
}

.visible-from-start {
  opacity: 1 !important;
  background-color: rgba($color: #0000, $alpha: 0.8);
}

.main-wrapper_after-hero {
  width: 75vw;
  margin: 0 auto;
}

.introduction {
  .left {
    width: 60%;
    @media screen and (max-width: $break-sm) {
      .mt8 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
      width: 63.8%;
      .text {
        max-width: 100%;
        text-align: justify;
      }
    }
    @media screen and (max-width: $break-xs) {
      width: 100%;
      .text {
        max-width: 100%;
      }
    }
  }
  .right {
    width: 40%;
    margin-top: 2.2rem;
    height: fit-content;
    box-shadow: 2px 2px 12px 2px #ccc;
    border-radius: 12px;
    overflow: hidden;

    @media screen and (max-width: $break-md) {
      margin-top: 5.2rem;
    }
    @media screen and (max-width: $break-sm) {
      width: 32%;
      margin-left: 1.2rem;
      margin-top: 12.2rem;
    }
  }

  @media screen and (max-width: $break-xs) {
    margin-top: 2rem;
  }
}

.phrases {
  .left {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    .flex.column {
      flex: 0 0 56%;
      @media screen and (max-width: $break-sm) {
        flex-flow: row wrap;
        flex: 1 1 auto;
      }
    }
    .icon-wrapper {
      @extend .capitalize, .fs-xlarge, .font-thin;
      &:nth-child(even) {
        align-self: end;
      }
      .icon {
        padding: 0.8rem;
        font-size: 34px;
        @extend .circle;
        margin-right: 0.2rem;
        background-color: darken($white-hsl, 6.2%);
      }
      @media screen and (max-width: $break-sm) {
        flex: 0 1 auto;
        text-align: center;
        margin-bottom: 2rem;
        margin-right: 1rem;
        .icon {
          font-size: 18px;
          padding: 0.2rem;
        }
      }
    }
    @media screen and (max-width: $break-sm) {
      width: 100vw;
      margin-left: -0.8rem;
    }
  }

  .right {
    width: 59.8%;
    .list-wrapper {
      @extend .mt8, .mb8;
      margin-left: 1rem;
      li {
        list-style: circle;
        @extend .mb2, .text, .w-fit-full;
      }
    }
    .text {
      max-width: 100%;
    }
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  @media screen and (max-width: $break-sm) {
    flex-flow: column;
  }
}

.blockquote {
  .left {
    flex: 0 0 45%;
    align-self: center;
  }
  .right {
    flex: 0 0 50%;
  }
  .founder-image {
    width: 14rem;
    height: 14rem;
    margin-left: 2rem;
  }
  .text {
    max-width: 88%;
    margin-top: 2rem;
  }
  @media screen and (max-width: $break-sm) {
    padding: 1rem;
    display: block;
    .founder-image {
      margin-left: 0;
    }
    .left {
      float: left;
      margin-right: 0.4rem;
      shape-outside: circle(50%);
    }
    .text {
      max-width: 100%;
      text-align: justify;
    }
  }
  @media screen and (max-width: $break-xs) {
    padding: 1rem;
    .left {
      .founder-image {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}

#trustedBySection .boxes-wrapper,
#partnersSection .boxes-wrapper {
  display: grid;
  width: 100%;
  gap: 0.4rem;
  margin-bottom: 2rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
  .box {
    @extend .transition-all;
    width: 5.2rem;
    height: 5.2rem;
    filter: grayscale(100%);
    color: whitesmoke;
    &.no-gray-filter {
      @extend .no-gray-filter;
    }
    &:hover {
      @extend .no-gray-filter;
      transform: scale(1.02);
    }
  }
  @media screen and (max-width: $break-xs) {
    .box {
      width: 3.2rem;
      height: 3.2rem;
    }
    grid-template-columns: repeat(auto-fit, minmax(4.2rem, 1fr));
  }
}

#blogSection {
  width: 72.8vw;
  .flex {
    min-height: 20vh;
  }
  .el-card {
    width: 12rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

// .services-wrapper {
//   width: 72.6vw;
//   .boxes-wrapper {
//     display: grid;
//     width: 100%;
//     gap: 0.4rem;
//     margin-bottom: 2rem;
//     grid-auto-flow: dense;
//     grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
//     .box {
//       width: 17rem;
//     }
//   }
//   @media screen and (max-width: $break-xs) {
//     width: 100%;
//     .el-card {
//       width: 14rem;
//       padding: 1rem;
//       .box {
//         width: 100%;
//         padding: 0;
//       }
//     }
//   }
// }

.bottom-banner {
  text-align: center;
  @media screen and (max-width: $break-md) {
    div.p2 {
      width: 100%;
    }
  }
  .call-to-action {
    button.el-button {
      margin-right: 0.4rem;
    }
  }
  .banner-image {
    filter: grayscale(20%);
  }
}
