@import '../../base/variables';
@import '../../helpers/atomic-classes';

.main-wrapper {
  font-family: 'helveticaregular';
}

.hero-wrapper {
  border-top: 1px solid $grey-ligthen-3;
  .inner-wrapper-text {
    width: 30rem;
    @media screen and (max-width: $break-sm) {
      width: 24rem;
    }
    @media screen and (max-width: $break-xs) {
      width: 18rem;
    }
  }
  &:hover {
    .map-wrapper {
      filter: blur(2px);
    }
    .overlay-inner {
      opacity: 1;
      cursor: pointer;
      background-color: rgba($color: #0000, $alpha: 0.8);
    }
  }
}

.overlay-inner {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'helveticabold';
  line-height: 1.2;
  font-weight: auto;
  font-size: 40px;
  color: rgb(15, 50, 86);
  text-align: center;
  &.md {
    font-size: 28px;
    text-align: left;
    color: $dark-charcoal;
    @extend .no-selectable;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 24px;
    }
  }
  &.sm {
    text-align: left;
    color: $dark-charcoal;
    font-size: 24px;
    @extend .no-selectable;
    text-transform: capitalize;
    @media screen and (max-width: $break-xs) {
      font-size: 18px;
    }
  }
  &.white {
    line-height: 1.2;
    color: $white-full;
  }
  small {
    font-size: 14px;
    margin-top: 1rem;
    color: #bdc4ca;
    font-family: 'helveticaregular';
  }
  @media screen and (max-width: $break-xs) {
    font-size: 20px;
  }
}

.information-section {
  .inner-wrapper {
    .text {
      font-family: 'helveticaregular';
      margin: 0;
      padding: 1rem;
      font-size: 2rem;
      line-height: 1.8;
      color: $light-charcoal;
      @extend .dont-break-out;
      &.heading {
        max-width: 60.4rem;
        min-width: 24rem;
        @media screen and (max-width: $break-xs) {
          font-size: 17px;
          max-width: unset;
          min-width: unset;
          padding: 2rem;
        }
      }
      &.sub {
        max-width: 60.4rem;
        margin-top: 1rem;
        @media screen and (max-width: $break-xs) {
          margin-top: -2rem;
          font-size: 17px;
          padding: 2rem;
        }
      }
    }
    .centered-wrapper {
      display: grid;
      padding: 0 2rem;
      height: fit-content;
      background-color: rgba(233, 246, 255, 1);
      @media screen and (max-width: $break-xs) {
        padding: 0;
      }
    }
    .with-icon {
      width: 60%;
      .inner-wrapper {
        width: 24rem;
        .text {
          font-size: 16px;
          line-height: 1.4;
        }
        .xl-icon {
          color: $light-charcoal;
          background-color: $white-full;
        }
      }
      @media screen and (max-width: $break-md) {
        width: 94%;
        padding: 1rem;
        justify-self: center;
      }
      @media screen and (max-width: 1056px) {
        width: 87%;
        justify-self: start;
      }
      @media screen and (max-width: 972px) {
        width: 78%;
        justify-self: start;
      }
      @media screen and (max-width: $break-sm) {
        flex-wrap: wrap;
        .inner-wrapper {
          width: 100%;
          padding: 1rem;
        }
      }
    }

    @media screen and (max-width: $break-xs) {
      margin-top: 2rem;
    }
  }
}

.carousel-section {
  .carousel-wrapper {
    margin: 0 auto;
    width: 80vw;
  }
  .el-carousel__item {
    background-color: $white-full;
  }
}
