$blue-link-colors: #255fb9;

$white-full: white;
$white-partial: #fafafa;

$light-charcoal: #424242;
$dark-charcoal: #303030;

$light-yellow: #f7dc82;
$dark-yellow: #f3c52c;

$cubic-bezier: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
$regular-transition: 320ms ease;

$blue-user-interface: #1e419a;

$berry: rgb(177, 15, 15);
