@font-face {
  font-family: 'helveticaregular';
  font-display: auto;
  src: url('https://cdn1.infrapedia.com/fonts/fonts_helvetica-webfont.woff2')
      format('woff2'),
    url('https://cdn1.infrapedia.com/fonts/fonts_helvetica-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticabold';
  font-display: auto;
  src: url('https://cdn1.infrapedia.com/fonts/fonts_helvetica-bold-webfont.woff2')
      format('woff2'),
    url('https://cdn1.infrapedia.com/fonts/fonts_helvetica-bold-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticabold_oblique';
  font-display: auto;
  src: url('https://cdn1.infrapedia.com/fonts/fonts_helvetica-boldoblique-webfont.woff2')
      format('woff2'),
    url('https://cdn1.infrapedia.com/fonts/fonts_helvetica-boldoblique-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaoblique';
  font-display: auto;
  src: url('/https://cdn1.infrapedia.com/fonts/fonts_helvetica-oblique-webfont.woff2')
      format('woff2'),
    url('/https://cdn1.infrapedia.com/fonts/fonts_helvetica-oblique-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
