@import '../../base/variables';

.svg-wrapper {
  display: flex;
  flex-basis: 60%;
  align-items: center;
  background-color: rgba(114, 114, 114, 0.1);
}

div.el-card {
  border: 1px solid #dbd7d7;
  border-radius: 0;

  header {
    background-color: $white-profile;
    border-bottom: 1px solid #dbd7d7;
    &.dark {
      color: $white-partial;
      background-color: darken($light-charcoal, 10%);
    }
  }
}
